# Database Configuration
DB_NAME=monitoring_app
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=db
DB_PORT=3306

MYSQL_ROOT_PASSWORD=your_root_password

# App Configuration
APP_PORT=8000
APP_NAME=python-app

# Alloy Configuration
ALLOY_PORT=12345

# Alloy Labels
ALLOY_SERVICE_NAMES=app
ALLOY_ENVIRONMENT=project-local
ALLOY_LOG_LEVEL=info

# Loki Configuration
ALLOY_LOKI_URL=https://your-loki-endpoint/loki/api/v1/push
ALLOY_AUTH_USERNAME=admin
ALLOY_AUTH_PASSWORD=your_password

# Logging Configuration
LOG_LEVEL=INFO
