# loki-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki-deployment
  labels:
    app: loki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3100
              name: http
            - containerPort: 9096
              name: grpc
          args:
            - -config.file=/etc/loki/loki.yaml 
          volumeMounts:
            - name: config-volume
              mountPath: /etc/loki/loki.yaml
              subPath: loki.yaml
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
      volumes:
        - name: config-volume
          configMap:
            name: loki-config

---
apiVersion: v1
kind: Service
metadata:
  name: loki-service
  labels:
    app: loki
spec:
  type: LoadBalancer
  ports:
    - name: lokihttp
      protocol: TCP
      targetPort: http
      port: 3100
    - name: lokigrpc
      protocol: TCP
      targetPort: grpc
      port: 9096
  selector:
    app: loki

