apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

    common:
      path_prefix: /loki
      replication_factor: 1
      ring:
        instance_addr: 0.0.0.0
        kvstore:
          store: memberlist
      storage:
        s3:
          s3: s3://us-west-2/ebs-monitoring-data/loki
          region: us-west-2
          s3forcepathstyle: true

    schema_config:
      configs:
        - from: 2025-01-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: index_
            period: 24h

    compactor:
      working_directory: /loki/compactor
      retention_enabled: true
      retention_delete_delay: 2h
      delete_request_store:
        store: s3
        s3:
          s3: s3://us-west-2/ebs-monitoring-data/loki
          region: us-west-2
          s3forcepathstyle: true

    limits_config:
      retention_period: 2160h
      max_query_lookback: 2160h
      reject_old_samples: true
      reject_old_samples_max_age: 168h

    ingester:
      wal:
        enabled: true
        dir: /loki/wal
      # In 3.5.0, use lifecycler config instead of max_transfer_retries
      lifecycler:
        ring:
          kvstore:
            store: memberlist
          replication_factor: 1
        final_sleep: 0s

    querier:
      max_concurrent: 4

    query_range:
      results_cache:
        cache:
          embedded_cache:
            enabled: true
            max_size_mb: 1024
