apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    common:
      path_prefix: /tmp/loki
      replication_factor: 1
      ring:
        kvstore:
          store: memberlist

    schema_config:
      configs:
        - from: 2025-01-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb:
        # If using S3 for chunks and index
        # active_index_directory: /data/loki/index
        # chunk_directory: /data/loki/chunks
      aws:
        s3: s3://us-west-2/ebs-monitoring-data/loki
        region: us-west-2
        s3forcepathstyle: true

    compactor:
      working_directory: /data/loki/compactor
      retention_enabled: true
      retention_delete_delay: 2h
      delete_request_store:
        filesystem:
          directory: /tmp/loki/deleterequests

    limits_config:
      retention_period: 2160h  # 90 days

    query_range:
      max_query_lookback: 2160h  # 90 days
      results_cache:
        cache:
          embedded_cache:
            enabled: true
            max_size_mb: 1024
