apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitoring
data:
  mimir.yaml: |
    server:
      http_listen_port: 8080
      http_path_prefix: /mimir
      log_level: info

    target: all
    multitenancy_enabled: false

    blocks_storage:
      backend: s3
      storage_prefix: mimir/blocks/
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2
      tsdb:
        dir: /data/mimir/tsdb

    ingester:
      lifecycler:
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
        # Remove instance_addr for auto-detection in Kubernetes
        # Or use: instance_addr: ${POD_IP}
        instance_port: 8080
      wal:
        dir: /data/mimir/wal

    ruler_storage:
      backend: s3
      storage_prefix: mimir/ruler/
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2

    alertmanager_storage:
      backend: s3
      storage_prefix: mimir/alertmanager/
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2

    compactor:
      data_dir: /data/mimir/compactor

    # Retention period belongs in limits block
    limits:
      compactor_blocks_retention_period: 90d
