apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitoring
data:
  mimir.yaml: |
    common:
      storage:
        backend: s3
        s3:
          bucket_name: ebs-monitoring-data
          endpoint: s3.us-west-2.amazonaws.com
          region: us-west-2

    server:
      http_listen_port: 8080
      http_path_prefix: /mimir
      log_level: info

    blocks_storage:
      backend: s3
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2
        storage_prefix: mimir/blocks       # path inside bucket

    ruler_storage:
      backend: s3
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2
        storage_prefix: mimir/ruler        # path inside bucket

    alertmanager_storage:
      backend: s3
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2
        storage_prefix: mimir/alertmanager # path inside bucket

    ingester:
      wal:
        dir: /var/mimir/wal
