apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitoring
data:
  mimir.yaml: |
    server:
      http_listen_port: 8080
      http_path_prefix: /mimir
      log_level: info

    target: all
    multitenancy_enabled: false

    ingester:
      ring:
        kvstore:
          store: inmemory
        replication_factor: 1

    blocks_storage:
      backend: s3
      storage_prefix: mimirblocks  # ✅ CHANGED: removed slashes
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2
      tsdb:
        dir: /data/mimir/tsdb

    ruler_storage:
      backend: s3
      storage_prefix: mimiruler  # ✅ CHANGED: removed slashes
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2

    alertmanager_storage:
      backend: s3
      storage_prefix: mimiralertmanager  # ✅ CHANGED: removed slashes
      s3:
        bucket_name: ebs-monitoring-data
        endpoint: s3.us-west-2.amazonaws.com
        region: us-west-2

    compactor:
      data_dir: /data/mimir/compactor

    limits:
      compactor_blocks_retention_period: 90d
