apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: monitoring
data:
  tempo.yaml: |

    http_api_prefix: /tempo
    multitenancy_enabled: true

    server:
      http_listen_port: 3200
      http_api_prefix: /tempo

    distributor:
      receivers:
        otlp:
          protocols:
            http:
            grpc:

    storage:
      trace:
        backend: s3
        s3:
          bucket: ebs-monitoring-data
          endpoint: s3.us-west-2.amazonaws.com
          region: us-west-2
          prefix: tempo
        wal:
          path: /var/tempo/wal
