target: all
multitenancy_enabled: false

server:
  http_path_prefix: /mimir
  http_listen_port: 8080
  log_level: info

activity_tracker:
  filepath: /data/mimir-activity.log

ingester:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

blocks_storage:
  backend: s3
  storage_prefix: mimirblocks
  s3:
    bucket_name: ebs-monitoring-data
    endpoint: s3.us-west-2.amazonaws.com
    region: us-west-2
  tsdb:
    dir: /data/tsdb

ruler_storage:
  backend: s3
  storage_prefix: mimiruler
  s3:
    bucket_name: ebs-monitoring-data
    endpoint: s3.us-west-2.amazonaws.com
    region: us-west-2

alertmanager_storage:
  backend: s3
  storage_prefix: mimiralertmanager
  s3:
    bucket_name: ebs-monitoring-data
    endpoint: s3.us-west-2.amazonaws.com
    region: us-west-2

compactor:
  data_dir: /data/compactor

store_gateway:
  sharding_ring:
    kvstore:
      store: inmemory

limits:
  compactor_blocks_retention_period: 2160h
  max_query_lookback: 2160h
  ingestion_rate: 10485760 # bytes
  ingestion_burst_size: 20971520 # bytes
  max_queriers_per_tenant: 10
