target: all
multitenancy_enabled: false

server:
  http_listen_port: 9009 # Match the port in docker-compose
  log_level: info

activity_tracker:
  filepath: /data/mimir-activity.log

ingester:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

blocks_storage:
  backend: s3
  storage_prefix: mimirblocks
  s3:
    # Use environment variables from docker-compose
    bucket_name: ${S3_BUCKET_NAME}
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}
  tsdb:
    dir: /data/tsdb

ruler_storage:
  backend: s3
  storage_prefix: mimiruler
  s3:
    bucket_name: ${S3_BUCKET_NAME}
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}

alertmanager_storage:
  backend: s3
  storage_prefix: mimiralertmanager
  s3:
    bucket_name: ${S3_BUCKET_NAME}
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}

compactor:
  data_dir: /data/compactor

store_gateway:
  sharding_enabled: false

query_frontend: {}

limits:
  compactor_blocks_retention_period: 90d
