target: scalable-single-binary
multitenancy_enabled: false

server:
  http_listen_port: 3200
  grpc_listen_port: 9095
  log_level: info
  log_format: logfmt

distributor:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

ingester:
  trace_idle_period: 10s
  max_block_duration: 30m
  complete_block_timeout: 15m
  max_block_bytes: 500_000_000
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1

compactor:
  compaction:
    block_retention: 2160h # 90 days
    compacted_block_retention: 1h
    compaction_window: 1h

storage:
  trace:
    backend: s3
    s3:
      bucket: ${S3_BUCKET_NAME}
      region: us-west-2
      endpoint: s3.us-west-2.amazonaws.com
      forcepathstyle: false
      insecure: false
      prefix: tempo/
    wal:
      path: /data/tempo/wal
      v2_encoding: snappy
    blocklist_poll: 5m

query_frontend:
  search:
    max_duration: 2160h

querier:
  max_concurrent_queries: 16

memberlist:
  join_members: []
  bind_port: 7946
  randomize_node_name: true
