target: scalable-single-binary
multitenancy_enabled: false

server:
  http_listen_port: 3200
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

ingester:
  trace_idle_period: 10s
  max_block_duration: 30m
  complete_block_timeout: 15m
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1
  max_block_bytes: 500_000_000

compactor:
  compaction:
    block_retention: 2160h
    compacted_block_retention: 1h

storage:
  trace:
    backend: s3
    s3:
      bucket: ${S3_BUCKET_NAME}
      region: ${AWS_REGION}
      forcepathstyle: false
    wal:
      path: /data/tempo/wal
      v2_encoding: snappy
    blocklist_poll: 5m

memberlist:
  bind_port: 7946
