multitenancy_enabled: false

server:
  http_listen_port: 3200
  grpc_listen_port: 9095
  log_level: info
  log_format: logfmt

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m      # Keep this low so data hits S3 faster
  complete_block_timeout: 5m
  max_block_bytes: 500000000
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1

compactor:
  compaction:
    block_retention: 2160h
    compacted_block_retention: 1h
    compaction_window: 1h

storage:
  trace:
    backend: s3
    format: vParquet3          
    s3:
      bucket: ebs-monitoring-data
      region: us-west-2
      endpoint: s3.us-west-2.amazonaws.com
      forcepathstyle: false
      insecure: false
      prefix: tempo/
    wal:
      path: /data/tempo/wal
      v2_encoding: snappy
    block:
      bloom_filter_false_positive: .05
      index_downsample_bytes: 1000
      encoding: zstd
    pool:
      max_workers: 400
      queue_depth: 20000

query_frontend:
  search:
    max_duration: 2160h

querier:
  frontend_worker:
    frontend_address: 127.0.0.1:9095
  max_concurrent_queries: 40  

memberlist:
  join_members: []
  bind_port: 7946
  randomize_node_name: true
