# tempo.yaml (Tempo 2.5.0)
multitenancy_enabled: false
server:
  http_listen_port: 3200
  log_level: info
distributor:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}
ingester:
  trace_idle_period: 10s
  lifecycler:
    ring:
      replication_factor: 1
  max_block_bytes: 524288000
  wal:
    path: /data/tempo/wal
compactor:
  compaction:
    block_retention: 2160h
storage:
  trace:
    backend: s3
    s3:
      bucket: ${S3_BUCKET_NAME}
      endpoint: s3.${AWS_REGION}.amazonaws.com
      region: ${AWS_REGION}
      prefix: tempo/
      forcepathstyle: false
    wal:
      path: /data/tempo/wal
      v2_encoding: snappy
query_frontend:
  log_queries_longer_than: 5s
memberlist:
  join_members: [tempo]
  bind_port: 7946
