apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-config
  namespace: monitoring
data:
  blackbox.yml: |
    modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_http_versions: ["HTTP/1.0", "HTTP/1.1", "HTTP/2"]
        valid_status_codes: [200]  # Only 200 is considered valid
        method: GET
        no_follow_redirects: false
        tls_config:
          insecure_skip_verify: false