apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    alerting:
      alertmanagers:
      - static_configs:
        - targets: ['alertmanager-service.monitoring.svc.cluster.local:9093']

    rule_files:
      - 'alert-rules.yml'  # Ensure this file exists and is correctly named

    scrape_configs:
    
      # Scrape the Kubernetes API server
      - job_name: 'kubernetes-apiservers'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            action: keep
            regex: default;kubernetes;https

      # Scrape the Kubernetes nodes (kubelet)
      - job_name: 'kubernetes-nodes'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      # Scrape the Kubernetes cAdvisor
      # - job_name: 'kubernetes-cadvisor'
      #   scheme: https
      #   tls_config:
      #     ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      #     insecure_skip_verify: true
      #   bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      #   kubernetes_sd_configs:
      #     - role: node
      #   relabel_configs:
      #     - action: labelmap
      #       regex: __meta_kubernetes_node_label_(.+)
      #     - source_labels: [__address__]
      #       target_label: __address__
      #       regex: (.+):10250
      #       replacement: ${1}:10255

      # Scrape the Kubernetes service endpoints
      - job_name: 'kubernetes-service-endpoints'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scheme]
            action: replace
            target_label: __scheme__
            regex: (https?)
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: (.+):(?:\d+);(\d+)
            replacement: ${1}:${2}

      # Scrape the kube-state-metrics service
      - job_name: 'kube-state-metrics'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            action: keep
            regex: kube-system;kube-state-metrics;http

      - job_name: 'node_exporter'
        scrape_interval: 5s
        static_configs:
        - targets: ['node-exporter.default.svc.cluster.local:9100']
          labels:
              instance: prom-server

      - job_name: 'alertmanager'
        static_configs:
        - targets: ['alertmanager-service.monitoring.svc.cluster.local:9093']

      # - job_name: 'cadvisor'
      #   kubernetes_sd_configs:
      #   - role: endpoints
      #     namespaces:
      #       names:
      #       - kube-system
      #   relabel_configs:
      #   - source_labels: [__meta_kubernetes_service_label_k8s_app]
      #     action: keep
      #     regex: cadvisor
      #   - source_labels: [__meta_kubernetes_endpoint_port_name]
      #     action: keep
      #     regex: http-metrics

