services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    # pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    ports:
      - 9100:9100
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "1m" # Maximum log file size
        max-file: "1"
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - '9090:9090'
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus/
      - prometheus-data:/prometheus
    command:
      - '--web.enable-lifecycle'
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "5m" # Maximum log file size
        max-file: "2"
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "5m" # Maximum log file size
        max-file: "2"
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - '3000:3000'
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "5m" # Maximum log file size
        max-file: "2"
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki.yml:/etc/loki/config.yaml
    command: -config.file=/etc/loki/config.yaml
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "15m" # Maximum log file size
        max-file: "2"
  # promtail:
  #   image: grafana/promtail:latest
  #   container_name: promtail
  #   volumes:
  #     - prom-log:/var/log
  #     - ./promtail.yml:/etc/promtail/promtail.yml
  #   command: -config.file=/etc/promtail/promtail.yaml
  #   networks:
  #     - monitoring
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - monitoring
    logging:
      driver: "json-file"
      options:
        max-size: "5m" # Maximum log file size
        max-file: "2"
    
    
networks:
  monitoring:
    driver: overlay
    attachable: true

volumes:
  grafana-data:
  prometheus-data:
  prom-log: