apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    alerting:
      alertmanagers:
      - static_configs:
        - targets: ['alertmanager-service.monitoring.svc.cluster.local:9093']

    rule_files:
      - 'alert-rules.yml'  # Ensure this file exists and is correctly named

    scrape_configs:
      - job_name: 'node_exporter'
        scrape_interval: 5s
        static_configs:
        - targets: ['node-exporter.default.svc.cluster.local:9100']
          labels:
              instance: prom-server

      - job_name: 'alertmanager'
        static_configs:
        - targets: ['alertmanager-service.monitoring.svc.cluster.local:9093']

      - job_name: 'blackbox'
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets:
            - http://test.com/api/healthcheck
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackbox-exporter-service.monitoring.svc.cluster.local:9115  # The blackbox_exporter's address
