adminPassword: 'yourpassword'

persistence:
  enabled: true
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  size: 10Gi

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    spec.ingressClassName: nginx
  hosts:
    - monitor.local

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-kube-prometheus-prometheus.monitoring.svc:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc:3100
        isDefault: false
      - name: cAdvisor
        type: prometheus
        access: proxy
        url: http://cadvisor.kube-system.svc:8080
        isDefault: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
