# prometheus-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: monitoring
  labels:
    app: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      # serviceAccountName: prometheus
      initContainers:
        - name: setup-permissions
          image: busybox
          command: ["sh", "-c", "chmod 777 -R /etc/prometheus"]
          volumeMounts:
            - name: prometheus-storage
              mountPath: /etc/prometheus
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/etc/prometheus
            - --storage.tsdb.retention.time=15d
            - --storage.tsdb.retention.size=1GB
          imagePullPolicy: Always
          ports:
            - name: prometheus
              containerPort: 9090
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: alertrules-volume
              mountPath: /etc/prometheus/alert-rules.yml
              subPath: alert-rules.yml
            - name: prometheus-storage
              mountPath: /prometheus
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-config
        - name: alertrules-volume
          configMap:
            name: alertrules-config
        - name: prometheus-storage
          persistentVolumeClaim:
            claimName: prometheus-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: monitoring
  labels:
    app: prometheus
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - name: prometheus
      protocol: TCP
      targetPort: prometheus
      port: 9090
