controller:
  ingressClassResource:
    enabled: true
    name: haproxy
    default: true

  ingressClass: haproxy

  kind: Deployment # Use Deployment for HA
  replicaCount: 2 # 2 replicas for HA
  hostNetwork: false # Keep pods in cluster network

  service:
    enabled: true
    type: LoadBalancer # Let ALB automatically provision external IP
    ports:
      http: 80
      https: 443
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "alb" # ALB integration
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "60"
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"

  resources:
    limits:
      cpu: "256m"
      memory: "256Mi"
    requests:
      cpu: "128m"
      memory: "128Mi"

  # Optional: pod anti-affinity to spread HAProxy pods across nodes
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: haproxy
          topologyKey: "kubernetes.io/hostname"

  # Optional: metrics/stats port
  stats:
    enabled: true
    port: 31024
