controller:
  ingressClass: haproxy
  ingressClassResource:
    enabled: true
    name: haproxy

  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internal"

    ports:
      http:
        port: 80
        targetPort: 80

  extraArgs:
    - --http-bind-port=80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

# Single replica is fine for most cases
replicaCount: 1

# Disable metrics if not needed
metrics:
  enabled: false
