controller:
  ingressClassResource:
    enabled: true
  service:
    type: LoadBalancer
    # You can omit nodePorts if not needed
    nodePorts:
      http: 30080 # optional
      https: 30443 # optional
  extraArgs:
    - --http-bind-port=80
    - --https-bind-port=443
