controller:
  ingressClass: haproxy
  ingressClassResource:
    enabled: true
    name: haproxy

  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internal"
    externalTrafficPolicy: Local

    ports:
      http: 80
      # Remove https if not needed, or use:
      # https: 443

# Basic resources
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 256m
    memory: 256Mi

replicaCount: 2
