controller:
  ingressClassResource:
    enabled: true
    name: haproxy
    default: true

  ingressClass: haproxy

  kind: Deployment
  replicaCount: 2
  hostNetwork: false

  service:
    enabled: true
    type: NodePort
    nodePorts:
      http: 30080
      https: 30443
      stat: 31024
    ports:
      http: 80
      https: 443

  resources:
    limits:
      cpu: "256m"
      memory: "256Mi"
    requests:
      cpu: "128m"
      memory: "128Mi"

  extraArgs:
    - "--implementation-prefix=true"
