controller:
  ingressClassResource:
    enabled: true
    name: haproxy
    default: true

  ingressClass: haproxy

  kind: Deployment # Use Deployment for replicas.
  replicaCount: 2 # Set to 2 for HA.
  hostNetwork: false # Disable hostNetwork for NodePort service.

  service:
    enabled: true
    type: NodePort
    nodePorts:
      http: 30080 # Assign specific NodePort for HTTP (edit as needed).
      https: 30443 # Assign specific NodePort for HTTPS (optional).
      stat: 31024 # Stats page NodePort (optional).
    ports:
      http: 80
      https: 443

  resources:
    limits:
      cpu: "256m"
      memory: "256Mi"
    requests:
      cpu: "128m"
      memory: "128Mi"
